@{
    ViewBag.Title = "Home Page";
}

<a href="~/Home/Menu" class="Button"><input type='button' value="Menu" /></a>
<a href="~/Home/OrderQueue" class="Button"><input type='button' value="Order Queue" /></a>