@{
    ViewBag.Title = "Menu";
}


<h2>Menu</h2>

<table>
    @foreach (var cocktail in Model)
    {
    <tr>
        <td>@cocktail.Name</td>
        <td>$@cocktail.Cost</td>
        <td><input id="btnOrder" type="button" value="Order"/></td>
    </tr>
    }
</table>
